---
import styles from '@patterns/navigation/navigation.module.css'
---

<header class={styles.nav}>
	<div class={styles.wrapper}>
		<a href="/" class={styles.title}>
			<h1>Patrick Roelofs</h1>
		</a>

		<nav>
			<ul class={styles.list}>
				<li class={styles.listItem}>
					<a href="#" class={styles.navLink}>Home</a>
				</li>
				<li class={styles.listItem}>
					<a href="#" class={styles.navLink}>Projects</a>
				</li>
				<li class={styles.listItem}>
					<a href="#" class={styles.navLink}>Blog</a>
				</li>
				<li class={styles.listItem}>
					<a href="#" class={styles.navLink}>Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>